%nav.blue
	.nav-wrapper
		%a.brand-logo.center
			=image_tag "logo1_gray.jpg", width: '20px'
		%a.sidenav-trigger{'data-target': 'mobile-demo'}
			%i.material-icons menu

%ul.sidenav#mobile-demo
	%li
		%a
			Programare
	%li
		%a
			Contact

.container
	%p.pink
		Damn


	